* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: lightgray;
}

h1 {
    background-color: lightcoral;
    text-align: center;
}

ul {
    background-color: lightblue;
}